<div class = "container-fluid">
    {{!--Map Location--}}
    <div class="row">
        <div id="map-location" class="col-sm-12"></div>
    </div>
    <div class="row">
        <div class="col-sm-10 offset-sm-2">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Add Location</button>
                <button type="button" class="btn btn-primary">Build/Save</button>
                <button type="button" class="btn btn-info">My Trips</button>
                <button type="button" class="btn btn-success"><img src="assets/icons/arrows/chevrons-up.svg" alt="up-chev"></button>
            </div>
        </div>
    </div>
    </div>
    {{!--Pop up to display location data--}}
    <div class="row locations-div">
        <div class="col-sm-12">
        </div>
    </div>
        {{!--Pop up to display trips data--}}
        <div class="row trips-div">
        <div class="col-sm-12">
        </div>
    </div>
</div>

