<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Home Page</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../../assets/css.main.css">
        <link rel="stylesheet" href="../../assets/css.now-ui-kit.css">
        <script src="../../public/assets/js/app.js"></script>
</head>
<body>


<nav class="navbar navbar-toggleable-md bg-blue">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
   	    <span class="navbar-toggler-bar bar1"></span>
	    <span class="navbar-toggler-bar bar2"></span>
	    <span class="navbar-toggler-bar bar3"></span>
 	</button>

	<a class="navbar-brand" href="#pablo">
	   <i class="now-ui-icons users_single-02"></i>
	</a>

        <div class="collapse navbar-collapse" id="navigation">
    	    <ul class="navbar-nav">
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pablo"><i class="now-ui-icons sport_user-run"></i> Walkabout CLT </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Sign Out</a>
                    </div>
            </ul>
        </div>
    </div>
</nav>

<div class = "container-fluid">

    {{!--Map Location--}}
    <div class="row">
        <div id="map-location" class="col-sm-12"></div>
    </div>

    
    <--! Button Group --!>
    <div class="row buttons-bottom">
        <div class="col-sm-4">
            <button class="btn btn-primary btn-round">
	            <i class="now-ui-icons ui-2_favourite-286"></i> Add Location</button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary btn-round">Build Trip</button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary btn-round">Show Trips</button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary btn-icon  btn-icon-mini btn-round">
	            <i class="now-ui-icons arrows-1_minimal-up"></i>
            </button>
        </div>

    </div>
    {{!--Pop up to display location data--}}
    <div class="row locations-div">
        <div class="col-sm-12">

        </div>
    </div>
        {{!--Pop up to display trips data--}}
        <div class="row trips-div">
        <div class="col-sm-12">

        </div>
    </div>

</div>

    
</body>
</html>
