<div class = "container-fluid">
    {{!--Map Location--}}
    <div class="row">
        <div id="side-bar" class="col-sm-3">
            {{!-- This side bar div will be populated dynamically. --}}
        </div>
        <div id="map-location" class="col-sm-9"></div>
    </div>
    <div class="row">
        <div class="col-sm-9 offset-sm-3">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Add Location</button>
                <button type="button" class="btn btn-info">Build Trip</button>
                <button type="button" class="btn btn-primary" id="my-trips-btn" disabled>My Trips</button>
            </div>
            <div class="col-sm-7 offset-sm-3    ">
                <button type="button" class="btn btn-success" id="chevron-icon"><img src="assets/icons/arrows/chevrons-up.svg" alt="up-chev"></button>
            </div>
        </div>
    </div>
    </div>
    {{!--Pop up to display location data--}}
    <div class="row locations-div">
        <div class="col-sm-12">
        </div>
    </div>
        {{!--Pop up to display trips data--}}
        <div class="row trips-div">
        <div class="col-sm-12">
        </div>
    </div>
</div>

