 <div class="jumbotron">
 	<h1 class="display-3">WALK ABOUT CHARLOTTE</h1>
 	<p class="lead">Plan a sightseeing tour of Charlotte North Carolina. From King George III to the Carolina Panthers, we will help you plan a walking tour of the "Queen City's" greatest historical attractions.</p>
 	<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
 </div>

 <div class="row triptych">
    <div class="col-sm-12 col-md-12 col-lg-4">
 		<h4>EXPLORE</h4>
 		<p>We will give you some ideas of where to start your trip through Charlotte's history.</p>     		
 	</div>

    <div class="col-sm-12 col-md-12 col-lg-4">
 		<h4>BUILD</h4>
 		<p>Select one location for a quick visit, or several for a full day trip.</p>       		
 	</div>
    
    <div class="col-sm-12 col-md-12 col-lg-4">
        <h4>SAVE</h4>
        <p>Once you are happy with the trip you have planned, we make it easy to save it for quick reference.</p>       
    </div>             



 </div>