<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center">Username -- <span class="user-location"></span></h2>
		<img id="profile-pic" class="text-center" src="assets/images/generic_user.png">
		<br>
		<hr>
		<ul>
			<li>User's Full Name: <span class="name-location"></span></li>
			<li>User's City: <span class="city-location"></span></li>
			<li># of Trips created by User: <span class="number-trips"></span></li>
			<li>Trips created by User: <span class="trips-location"></span></li>
		</ul>
		
		<hr>
		<h2 class="text-center">My Trips</h2>
	</div>
	<footer class="footer">
		<p>&copy; 2017 Walkabout Charlotte </p>
	</footer>
</div> <!-- /container -->
<script type="text/javascript" src="/assets/js/main.js"></script>