<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center">Username -- {{this.userName}}</h2>
		<img id="profile-pic" class="text-center" src="assets/images/generic_user.png">
		<br>
		<hr>
		<h4>User Email - {{this.email}}</h4>
		

	</div>
	<footer class="footer">
		<p>&copy; 2017 Walkabout Charlotte </p>
	</footer>
</div> <!-- /container -->
<script type="text/javascript" src="/assets/js/main.js"></script>