#profile-pic {
	width: 160px;
	display: block;
	margin: 20px auto;
	border: solid black 1px;
	padding: 5px;
	border-radius: 100%;
	box-shadow: 0 1px 5px #777;
}
.user-full-name {
	text-transform: capitalize;
}
