body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}
.nav {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.nav li {
  flex-basis: 40%;
  text-align: right;
}
.logo {
  background-image: url(http://imgur.com/a/cxn2Q);
}

/* Custom page footer */
.footer {
  width: 100%
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.footer p {
  padding-top: 15px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-image: url('../images/clt_skyline.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.jumbotron h1 {
    font-size: 32px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

footer {
  margin-top: 40px;
}

.page-header{
  margin-top: 0;
}

#map-location {
  height: 70%;
  width: 60%;
  margin-bottom: 20px;
}
.stack {
  width: 100%;
}
.map-buttons {
  flex-wrap: wrap;
  display: flex;
}
.map-buttons button {
  flex-basis: 100%;
  width:100%;
  display: inline-block;
}

.my-side-bar {
  height: 70%;
  width: 40%;
  margin-bottom: 20px;
  /*border: solid 1px black;*/
  background-color: lightgrey;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 0px;
}

.my-side-bar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.my-side-bar::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/*.location-box {
  height: 85px;
  border: solid 1px black;
  padding: 10px;
  text-align: center;
  font-size: 13px;

}*/


/*.location-box:active {
  height: 85px;
  border: solid 1px black;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  background-color: blue;
}*/


.trip-box {
  /*width: 100% !important;*/
  height: 85px;
  border: solid 1px black;
  padding: 10px;
  text-align: center;
  font-size: 13px;
}

.trip-selector {
  float: right;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 90%;
  }
}


@media screen and (min-width: 768px) {
/* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;

  }
  .nav li {
    flex-basis: 25%;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .jumbotron h1 {
    font-size: 40px;
  }
  .map-buttons button {
    flex-basis: 33%;
    width: 33%;
  }
  #chevron-icon{
    display: none;
    margin-top: 2px;
    text-align: center;
    width:100%;
  }
  #chevron-icon img {
    width: 100%;
  }

  body {
    width: 100%;
  }

  .container {
    width: 100%;
  }
}
/* For Desktop */
@media screen and (min-width: 992px) {
  #chevron-icon{
    display: none;
    margin-top: 2px;
    text-align: center;
  }

  body {
    width: 100%;
  }
}

/*TO CHANGE MODAL BACKGROUND OPACITY*/
.modal-backdrop {
  opacity: 0.5 !important;
}
