body {
  padding: 0 15px;
}

.pad-sides,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  padding: 20px 0;
  width: 100%;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  position: absolute;
  top: 15px;
  left: 0;
}
.home-link {
  height: auto;
  width: 30px;
  left: 0;
}
.home-link img {
  max-width: 100%;
  height: auto;
}
/*.nav {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.nav li {
  flex-basis: 40%;
  text-align: right;
}
.logo {
  background-image: url(http://imgur.com/a/cxn2Q);
}*/
nav {
  width: 100%;
  height: 50px;
}

.nav {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav li {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  font-size: 14px;
  text-align: right;
  height: 100%;
}

.nav li a {
  height: 100%;
  padding: 8px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
-webkit-filter: grayscale(25%) saturate(90%);
          filter: grayscale(25%) saturate(90%);
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-image: url('../images/clt_skyline.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 60px 30px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.jumbotron.hovered {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@-webkit-keyframes grow {
  0% {
    background-size: auto 100%;
  }
  100%  {
    background-size: auto 105%;
  }
}

@keyframes grow {
  0% {
    background-size: auto 100%;
  }
  100%  {
    background-size: auto 105%;
  }
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.jumbotron h1 {
    font-size: 28px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.jumbotron p {
  width: 84%;
  margin-left: 8%;
  margin-bottom: 30px;
}

.triptych {
  padding: 0 20px;
  max-width: 100%;
}

.triptych div {
  margin-bottom: 20px;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

footer {
  margin-top: 40px;
  width: 100%;
  text-align: right;
  padding-right: 10px;
  font-size: 13px;
}

.page-header{
  margin-top: 0;
}

#map-location {
  height: 70%;
  width: 60%;
  margin-bottom: 20px;
}
.stack {
  width: 100%;
}
.map-menu {
  padding: 0 10px 0 15px;
}

.map-buttons {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 0;
}

.map-buttons button {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width:100%;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 2px;
}

.my-side-bar {
  height: 70%;
  width: 40%;
  margin-bottom: 20px;
  /*border: solid 1px black;*/
  background-color: lightgrey;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 0px;
}

.my-side-bar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.my-side-bar::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/*.location-box {
  height: 85px;
  border: solid 1px black;
  padding: 10px;
  text-align: center;
  font-size: 13px;

}*/


/*.location-box:active {
  height: 85px;
  border: solid 1px black;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  background-color: blue;
}*/


.trip-box {
  /*width: 100% !important;*/
  height: 85px;
  border: solid 1px black;
  padding: 10px;
  text-align: center;
  font-size: 13px;
}

.trip-selector {
  float: right;
}
.scroll-top-wrapper {
  padding: 0;
  height: 60px;
  padding: 5px 0 0;
}

#chevron-icon {
  display: block;
  width: 100%;
  height: 40px;
  background-image: url('/assets/icons/arrows/chevrons-up.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 60%;
  border-radius: 2px;
}

.no-padding {
  padding: 0 0 0 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.center-contents-vert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 370px) {
  .home-link {
    width: 60px;
  }
  .nav li a {
    padding: 0.5em 1em;
  }
}

@media screen and (min-width: 576px) {
  #chevron-icon {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .jumbotron h1 {
    font-size: 32px;
  }
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 90%;
  }
}


@media screen and (min-width: 768px) {
/* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
    .home-link {
      
      width: 100px;
    }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;

  }
  .nav li {
    flex-basis: 25%;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .jumbotron h1 {
    font-size: 40px;
  }
  .map-buttons button {
    flex-basis: 33%;
    width: 33%;
  }
    .triptych div {
    padding-left: 0;
    padding-right: 0;
  }
  #chevron-icon{
    display: none;
    margin-top: 2px;
    text-align: center;
    width:100%;
  }
  #chevron-icon{
    display: none;
    margin-top: 2px;
    text-align: center;
    width:100%;
  }
  #chevron-icon img {
    width: 100%;
  }

  body {
    width: 100%;
  }


  body {
    width: 100%;
  }

  .container {
    width: 100%;
  }
}
/* For Desktop */
@media screen and (min-width: 992px) {
  .nav li {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }

  .jumbotron .lead {
    width: 60%;
    margin: 40px 20%;
  }

  .triptych {
    margin-top: 40px;
  }

  .triptych div {
    padding-right: 15px;
    padding-left: 15px;
  }

  .triptych div:first-child {
    padding-left: 0;
  }

  .triptych div:last-child {
    padding-right: 0;
  }

  #chevron-icon{
    display: none;
    margin-top: 2px;
    text-align: center;
  }

  .container {
    max-width: 960px;
  }

  .footer {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}
/*TO CHANGE MODAL BACKGROUND OPACITY*/
.modal-backdrop {
  opacity: 0.5 !important;
}
